* {
    font-family: "Arial Black", serif;
    text-align: center;
}

body {
    cursor: url("/images/les_sun_cursor.cur"), auto;
    background-image: image("/images/les_black_anim.gif");
    background: black;
}

h1 {
    color: #5f4ff5;
}

p {
    color: #ff4455;
}

.responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Marquee style elements */
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #000000;
    color: #1feaf1;
    border: none;
    wrap-option: wrap;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
    ;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}